*{    
    margin: 0;
    padding: 0;
    font-family: sans-serif;  
    scroll-behavior: smooth;
    
}
.textbox-left{
    padding-left: 250px;
}
.lanka{
    padding-top: 30px;
    width: 405px;
    height: 642px;
}
.city-name{
    padding: 50px 150px;
}
.footer{
    margin-top: 50px;
}

h{
    font-size: 35px;
    border-style: solid;
    background-color: #fe7976;
    border-color: #fe7976;
    border-left-width: 100px;

}
.city-right{
    padding-left: 150px;
    
}
.city-left p{
    padding-left: 10px;
    padding-right: 180px;
    color: #000;
    font-size: 20px;
    text-align: left;
    line-height: 25px;
}
.city-details{
    display: inline-flex;
}
.anuradhapura{
    width:480px;
    height: 288px;
    padding-right: 155px;
}
.textbox-right{
    font-size: 25px;
    align-items: center;
    display: inline-flex;
}
.textbox-right1{
    padding-top: 25px;
    padding-left: 40px;
    padding-right: 80px;
}
.textbox-right li{
    list-style: none;
    line-height: 30px;
}

.textbox-right li a{
    text-decoration: none;
    color: #000;
}
.textbox-right li a:hover{
    color: #fe7976;
}
.scrollmap{
    position: fixed;
    bottom: 48px;
    right: 10px;
    padding: 5px 10px;
    background-color: #000;
    color: #fff;
    border-radius: 5px;
    border-width: 2px;
    border-style: solid;
    border-color: #fe7976;
    cursor: pointer;
    transition: all 0.5s ease 0s;
}
.scrollmap:hover{
    background-color: #fe7976;
} 
@media(max-width: 700px){
    .details{
        display: inline;
    }
    .textbox-left{
        padding: 0;
    }
    .lanka{
      
    }
    .allcity{
        display: inline;
    }
    .city-details{
        display: inline;
    }
    .city-name{
        padding:0;
        padding-top: 20px;
        text-align: center;
        
    }
    h{  
        border-style: none;
        background-color: #fff;
        color: #fe7976;
        text-decoration: underline;
        font-weight: bold;
        
    }
    .anuradhapura{
        width: 240px;
        height: 144px;
        padding: 0;
        padding-top: 30px;
       
    }
    .city-right{
        padding: 0;
        text-align: center;
    }
    .city-left{
        padding-left: 30px;
        padding-right: 30px;
    }
    .city-left p{
        padding: 0;
        text-align: center;
        font-size: 14px;
    }
    .textbox-right{
        font-size: 15px;
        padding-left: 40px;
    }
   
}














