*{    
    margin: 0;
    padding: 0;
    font-family: sans-serif;  
}

.con p2{
    font-size: 20px;
    line-height: 30px;
    font-weight: 550;
}
.con{
     margin: 100px 0 0 100px;
}
.footer{
    margin-top: 50px;
}
.contac{
    background-color: #fff;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}
.comment-left{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    background-color: #ffdad5;
    padding: 40px;
    border-radius: 30px;
}
.comment-left-title h2{
    font-weight: 600;
    color: #fe7976;
    font-size: 40px;
    margin-bottom: 5px;
}
.comment-left-title hr{
    border: none;
    width: 90%;
    height: 5px;
    background-color: #fe7976;
    border-radius: 10px;
}
.comment-input{
    width: 400px;
    height: 50px;
    border: 2px solid #a9a9a9;
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    color: #666;
    border-radius: 50px;
}
.comment-left textarea{
    height: 140px;
    padding-top: 15px;
    border-radius: 20px;
}
.comment-input:focus{
    border: 2px solid #fe7976;
}
.comment-input::placeholder{
    color: #a9a9a9;
}
.comment-left button{
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 16px;
    gap: 10px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    color: #fe7976;
    background-color: #fff;
    border: 2px solid #fe7976;
}
.comment-left button:hover{
    background-color: #fe7976;
    color: #fff;
}
.comment-right img{
    width: 500px;

}
@media (max-width:700px){
    .comment-input{
        width: 80vw;
    }
    .comment-right{
        display: none;
    }

}